GROQ_API_KEY=your_groq_key_here

DB_NAME=BDDL-Script
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_HOST=127.0.0.1
DB_PORT=5433

EMBEDDING_MODEL=all-mpnet-base-v2
GROQ_MODEL_SUMMARY=llama-3.1-8b-instant
GROQ_MODEL_GENERATE=llama-3.3-70b-versatile